.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-bottom: 1px solid rgb(198, 198, 198);
    padding-bottom: 20px;
}

.title {
    margin-bottom: 0px;
}

.container>.selectButton {
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(212, 92, 0);
    color: white;
    border: none;
}
.container>.selectButton:focus,.container>.selectButton:active {
    background-color: rgb(212, 92, 0);
    color: white;
}

.container>.selectButton:hover {
    background-color: rgb(206, 128, 68);
    color: black;
    border: none;
}

.container>.selectButton:disabled,.container>.selectButton:disabled:hover{
    background-color: rgba(165, 165, 165, 0.4);
    color: white;
}

.selectedDirectory {
    font-size: 17px;
    margin: 10px 0;
}

.selectedDirectoryValue {
    font-weight: 500;
}